* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
  font-family: 'Muli', sans-serif;
}

/*Index*/

.index {
  background: linear-gradient(rgb(89, 170, 240) 20%, rgb(105, 216, 250));
  height: 100vh;
}

.fg-index {
  margin-bottom: 61%;
  margin-top: 60%;
  margin-left: 1.5%;
}

.logo-index {
  width: 90vw;
  height: 30vh;
}

/*Registrarse o Ingresar*/
.grad {
  background: linear-gradient(rgb(89, 170, 240) 20%, rgb(105, 216, 250));
  height: 100vh;
}

.btn-back {
  color: black;
  display: inline-block;
  margin-top: 20px;
}

/*
.fg-pagina1 {
  margin-top: 10%;
  margin-left: 27%;
}

.logo-pagina1 {
  width: 40vw;
  height: 15vh;
}
*/

.cont-pg1 {
  height: 100vh;
  background-image: url(../assets/images/traveler1.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.phrase {
  margin-top: -4%;
}

.phrase-one {
  font-size: 50px;
  color: white;
}

.btns-forms{
  margin-top: 86%;
  margin-left: 4.5%;  
  opacity: 0.9;
}

.btn-pagina1 {
  height: 10vh;
  width: 40vw;
  font-size: 20px;
  font-weight: 700;
  border-radius: 40px;
  margin: 3px;
}

.btn-signup:hover,
.btn-pagina1:hover {
  color: #333;
  background-color: rgb(89, 170, 240);
  border-color: #adadad;
}

.forgot {
  color: black;
  font-weight: bold;
}

.container-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.signup-title {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 40px;
}

#signup-form {
  font-family: 'Muli', sans-serif;
}

#signup-form label {
  font-weight: 400;
  margin-bottom: 10px;
}

#exampleInputUsername,
#exampleInputEmail1,
#exampleInputPassword1 {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
}

.checkbox label {
  margin-top: 10px;
}

.btn-signup {
  border-radius: 25px;
  letter-spacing: 2px;
  padding: 1.5rem;
  width: 70%;
}

