* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

/*Index*/

.vh100 {
  height: 100vh;
}

.logo-name {
  font-family: 'Oswald', sans-serif;
  font-size: 7rem;
  letter-spacing: 1px;
  padding: 100px 0;
  text-shadow: 4px 2px 8px #ffff;
}

.main-logo img {
  width: 100%;
}

/* Home */

.cont-pg1 {
  background-image: url(../assets/images/traveler1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.phrase {
  margin-top: -4%;
}

.phrase-one {
  font-size: 50px;
  color: white;
}

/*
.btns-forms{
  margin-top: 86%;
  margin-left: 4.5%;  
  opacity: 0.9;
}
*/

.btn-container {
  padding: 400px 0 0;
}

.btn-home {
  background-color: rgba(255, 255, 255, 0.507);
  border-radius: 25px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 1.5rem;
}

.btn-signup:hover,
.btn-pagina1:hover {
  color: #333;
  background-color: rgb(89, 170, 240);
  border-color: #adadad;
}

.forgot {
  color: black;
  font-weight: bold;
}

/*Registrarse o Ingresar*/

.grad {
  background: linear-gradient(rgb(89, 170, 240) 20%, rgb(105, 216, 250));
  height: 100vh;
}

.btn-back {
  color: black;
  display: inline-block;
  margin-top: 20px;
}

.container-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
  margin-top: -8%;
}

.signup-title {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 30px;
}

#signup-form {
  font-family: 'Muli', sans-serif;
}

#signup-form label {
  font-weight: 400;
  margin-bottom: 10px;
}

#exampleInputUsername,
#exampleInputEmail1,
#exampleInputPassword1,
exampleInputConfirmPassword1,
#exampleInputEmail2,
#exampleInputPassword2 {
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
}

.checkbox label {
  margin-top: 10px;
}

.btn-signup {
  border-radius: 25px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 1.5rem;
  width: 70%;
}

span {
  color: grey;
}
/* Country Selection */
.background {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.cselection-title {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 40px;
  margin-top: 30px;
}

.layout {
  background: rgba(255, 255, 251, 0.575);
  letter-spacing: 1px;
  padding: 8px 0;
  text-align: center;
}

.select-country {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Muli', sans-serif;
  height: 165px;
  margin-bottom: 15px;
  padding: 60px 0;
}

.france {
  background-image: url('../assets/images/france.jpg');
}

.italy {
  background-image: url('../assets/images/italy.jpg');
}

.peru {
  background-image: url('../assets/images/peru.jpg');
}

.england {
  background-image: url('../assets/images/england.jpg');
}

.japan {
  background-image: url('../assets/images/japan.jpg');
}

.spain {
  background-image: url('../assets/images/spain.jpg');
}

.btn-tonewsfeed {
  border-radius: 25px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-top: 30px;
  padding: 1.5rem;
  width: 70%;
}

/* Newsfeed */

header {
  border-bottom: 1px solid gainsboro;
  height: 50px;
  padding: 10px 15px;
}

header .add-post i {
  font-size: 2.5rem;
}

button.add-post {
  border: none;
  background-color: transparent;
  padding: 0;
}

header .logo {
  font-family: 'Oswald', sans-serif;  
  font-size: 2rem;
}

#footer {
  background-color: #ffff;
  bottom: 0;
  padding: 4px 0;
  position: fixed;
  width: 100%;
}

#footer ul li {
  display: inline-block;
  font-size: 2.5rem;
  width: 20%;
}

nav#footer a {
  color: black;
  text-decoration: none;
}

#footer ul {
  margin: auto;
}

/* Modal Post */

.disabled {
  background-color: gainsboro;
  width: 40%;
}

.modal-body textarea {
  font-family: 'Muli', sans-serif;  
  resize: none;
}

.nuevoPost {
  background-color: lightblue;
  border-radius: 5px;
  font-family: 'Muli', sans-serif;
  font-size: 2rem;
  margin: 2px 0;
  padding: 6px 0;
  width: 100%;
  word-wrap: break-word;
}

input#files {
  margin: 10px 0;
}

.thumb{
  height: 300px;
  margin: 10px 5px 0 0;
}

/* Post */

#newsfeed .post {
  width: 100%;
}

.post .header-article {
  padding: 10px 0;
}

.user {
  display: inline-block;
  padding: 0 10px;
  width: 100%;
}

.user img {
  border-radius: 50px;
  height: 40px;
  margin-right: 5px;
  width: 40px;
}

.user .username,
.info-article .username,
.profile-username,
#profile-card .username {
  display: inline-block;
  font-weight: 600;
}

.container-article img {
  height: 300px;
  width: 100%;
}

.info-article {
  height: 80px;
  margin-bottom: 20px;
  padding: 5px 10px;
}

.info-article .times-liked,
.info-article .times-loved {
  display: inline-block;
  margin-bottom: 5px;
}

/* Profile */
.block {
  display: block;
  height: 120px;
}

button.settings,
button.log-out {
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.profile-username {
  padding: 3px;
}

#profile-card {
  border-bottom: 1px solid gainsboro;
  height: 250px;
  padding: 10px 0;
}

.user-photo-profile img {
  height: 120px;
}

.counters {
  width: 100%;
}

.posts, .followers, .following {
  display: inline-block;
  padding: 10px;
  width: 30%;  
}

#profile-card a {
  background-color: rgba(228, 225, 225, 0.699);
  letter-spacing: 1px;
  margin: 8px 0;
  width: 100%;
}

.bio-content {
  padding: 15px 0;
}

.pic-post {
  float: left;
  height: 150px;
  width: 33.3%;
}

.pic-post img {
  background-size: 100% 100%;
}
 .span1 {
  color: grey;
 }

/* Search */

a.search-traveler {
  color: black;
  font-size: 2rem;
}