<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/png" href="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  
  <link href="https://fonts.googleapis.com/css?family=Muli:300|Oswald:300" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Traveler Point - Profile</title>
</head>
<body>
  <header class="text-center">
    <div class="profile-username">JakeJake</div>
    <button class="settings pull-left"><i class="fa fa-cog" aria-hidden="true"></i></button>
    <button class="log-out pull-right"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
  </header>
  <div id="profile-card">
    <div class="col-xs-4">
      <div class="user-photo-profile">
        <img src="../assets/images/profile-pic.png" class="img-circle img-responsive center-block" alt="profile-pic">
      </div>
    </div>
    <div class="col-xs-8">
      <div class="counters text-center">
        <div class="posts">200 <br> posts</div>
        <div class="followers">650 <br> followers</div>
        <div class="following">500 <br> following</div>
      </div>
      <a href="#" type="button" class="btn btn-default">Edit Profile</a>      
    </div>
    <div class="col-xs-12">
      <div class="bio-content">
        <div class="username">JakeJake</div>
        <p>Traveler // Love trekking & photography <br> visit my website: <br>www.jakejake.com</p>
      </div>
    </div>
  </div>
  <div class="container">
    <img src="../assets/images/trip1.jpg" class="img-responsive pic-post" alt="">
    <img src="../assets/images/trip1.jpg" class="img-responsive pic-post" alt="">
    <img src="../assets/images/trip1.jpg" class="img-responsive pic-post" alt="">
    <img src="../assets/images/trip1.jpg" class="img-responsive pic-post" alt="">
  </div>


  
  <nav id="footer">
    <ul class="text-center">
      <li class="text-center"><a href="pagina5.html"><i class="fa fa-home" aria-hidden="true"></i></a></li>
      <li class="text-center"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
      <li class="text-center"><a href="#"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a></li>
      <li class="text-center"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
      <li class="text-center"><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i></a></li>
    </ul>
  </nav>
</body>
</html>