<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="../assets/images/icon.png">
  <link rel="shortcut icon" type="image/png" href="">  
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Muli:300|Oswald:300" rel="stylesheet">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <title>Traveler Point - Log In</title>
</head>
<body class="grad">
  <div class="container">
    <a href="../views/pagina1.html" type="button" class="btn-back">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </a>
    <div class="container-flex-column">
      <h2 class="signup-title text-center">Vuelve a empezar </h2>
      <form id="signup-form">
        <div class="form-group">
          <label for="exampleInputEmail2">Correo</label>
          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Correo">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword2">Contraseña</label>
          <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Contraseña">
        </div>
        <div class="checkbox text-center">
          <label>
            <p>¿Olvidaste tu contraseña? No te preocupes. <a class="forgot"><b>Has click aquí!</b></a></p>
          </label>
        </div>  
        <a href="../views/pagina5.html" role="button" class="btn btn-default btn-signup center-block disabled" id="letsgo">Vamos!</a>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/pagina2.js"></script>
</body>
</html>