<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/png" href="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  
  <link href="https://fonts.googleapis.com/css?family=Muli:300|Oswald:300" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Traveler Point - Newsfeed</title>
</head>
<body>
  <header class="text-center">
    <button class="add-post pull-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus-square-o" aria-hidden="true"></i></button>
    <div class="logo">TravelerPoint</div>    
  </header>

  <div id="newsfeed">
    <div class="post">
      <div class="header-article">
        <div class="user">
          <img src="../assets/images/profile-pic.png" alt="profile-pic">
          <div class="username">JakeJake</div>
          <div class="pull-right" id="time-post">3h</div>          
        </div>
      </div>
      <div class="container-article">
        <img src="../assets/images/article-pic.png" class="img-responsive" alt="article pic">
      </div>
      <div class="info-article">
        <div class="times-liked">3 <i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
        <div class="times-loved">3 <i class="fa fa-heart-o" aria-hidden="true"></i></div>        
        <div id="container-posts">
          <div class="username">JakeJake</div>            
          <div id="container-image-post"></div>
        </div>
      </div>
    </div>
  </div>
  
  <!--  Modal para agregar post -->
  <div class="container">
      <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Share your last trip!</h4>
          </div>
          <div class="modal-body">
            <div id="">
              <textarea class="form-control" placeholder="What are you gonna share?" id="post-content" rows="4"></textarea>
              <input type="file" id="files" name="files[]" />
              <output id="list"></output>
              <hr>
              <button type="button" class="btn btn-default disabled" id="post">POST</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav id="footer">
    <ul class="text-center">
      <li class="text-center"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
      <li class="text-center"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
      <li class="text-center"><a href="#"><i class="fa fa-commenting-o" aria-hidden="true"></i></a></li>
      <li class="text-center"><a href="pagina6.html"><i class="fa fa-user-o" aria-hidden="true"></i></a></li>
    </ul>
  </nav>

  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/pagina5.js"></script>
</body>
</html>