<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="../assets/images/icon.png">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Muli:300|Oswald:300" rel="stylesheet">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script><title>Traveler Point - Sign up</title>
</head>
<body class="grad">
  <div class="container">
    <a href="../views/pagina1.html" type="button" class="btn-back">
      <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
    </a>
    <div class="container-flex-column">
      <h1 class="signup-title text-center">Sign Up</h1>
      <form id="signup-form">
        <div class="form-group">
          <label for="exampleInputUsername">Username</label>
          <input type="text" class="form-control" id="exampleInputUsername" placeholder="Username">
          <span class="span1">Enter a username less than 6 characters</span>
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          <span class="span1">Enter a password longer than 6 characters</span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Confirm Password</label>
          <input type="password" class="form-control" id="exampleInputConfirmPassword1" placeholder="Confirm your password">
          <span class="span1">Please confirm your password</span>
        </div>
        <div class="checkbox text-center">
          <label>
            <input type="checkbox"> By signing up I agree with <b>terms and conditions</b>
          </label>
        </div>
        <a href="../views/pagina4.html"  type="button" class="btn btn-default btn-signup center-block" id="getstarted">GET STARTED</a>
      </form>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="../js/pagina1.js"></script>
</body>
</html>