<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="shortcut icon" type="image/png" href="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  
  <link href="https://fonts.googleapis.com/css?family=Muli:300|Oswald:300" rel="stylesheet">
  <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/main.css">
  <title>Traveler Point - Newsfeed</title>
</head>
<body>
  <header class="text-center">
    <div class="takephoto pull-left"><i class="fa fa-camera-retro" aria-hidden="true"></i></div>
    <div class="logo">TravelerPoint</div>
  </header>
  <div id="newsfeed">
    <div class="post">
      <div class="header-article">
        <div class="user">
          <img src="../assets/images/profile-pic.png" alt="profile-pic">
          <div class="username">JakeJake</div>
          <div class="time-post pull-right">3h</div>          
        </div>
      </div>
      <div class="container-article">
        <img src="../assets/images/article-pic.png" class="img-responsive" alt="article pic">
      </div>
      <div class="info-article">
        <div class="times-liked">3 likes</div>          
        <div class="username">JakeJake</div>
        <p>First trip of the year!</p>
      </div>
    </div>
    <div class="post">
        <div class="header-article">
          <div class="user">
            <img src="../assets/images/profile-pic.png" alt="profile-pic">
            <div class="username">JakeJake</div>
            <div class="time-post pull-right">3h</div>          
          </div>
        </div>
        <div class="container-article">
          <img src="../assets/images/article-pic.png" class="img-responsive" alt="article pic">
        </div>
        <div class="info-article">
          <div class="times-liked">3 likes</div>
          <div class="username">JakeJake</div>
          <p>First trip of the year!</p>
        </div>
      </div>
  </div>
  <nav id="footer">
    <ul class="text-center">
      <li class="text-center"><a href="#"><i class="fa fa-home" aria-hidden="true"></i></a></li>
      <li class="text-center"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
      <li class="text-center"><a href="#"><i class="fa fa-plus-square-o" aria-hidden="true"></i></a></li>
      <li class="text-center"><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></li>
      <li class="text-center"><a href="#"><i class="fa fa-user-o" aria-hidden="true"></i></a></li>
    </ul>
  </nav> 
</body>
</html>